@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}

body {
  @apply text-sm text-center pt-12;
}

.navbar {
  @apply bg-white shadow fixed top-0 left-0 right-0 z-50;

  .navbar-brand {
    @apply flex items-center flex-shrink-0 py-2;
  }

  .navbar-item {
    @apply inline-flex items-center px-4 py-2 h-8 text-sm rounded font-medium text-gray-900;

    &-active {
      @apply bg-gray-200;
    }
  }
}

.container {
  @apply max-w-5xl w-full my-8 px-4 mx-auto text-left;
}

.intro {
  @apply text-base text-left;

  p {
    @apply mb-5 text-justify;
  }
}

.editor-wraper {
  @apply rounded-sm border border-gray-300 shadow;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  appearance: none;
}

select {
  @apply block pl-3 pr-4 py-1.5 text-base shadow-sm border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md;
}

button {
  @apply rounded bg-white px-4 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;

  &.btn-primary {
    @apply bg-blue-600 ring-blue-800 hover:to-blue-500 text-white active:bg-blue-700;
  }
}

.btn {
  @apply border-0 text-lg shadow bg-gray-700 text-white rounded-md leading-none py-2 px-6 lg:py-3 lg:px-12 block whitespace-nowrap;
}
.btn-install {
  @apply bg-blue-600;
}
.btn-install2 {
  @apply bg-gray-800;
}
.btn-download {
  @apply bg-green-600;
}
.btn-github {
}

.message {
  @apply ml-3 text-green-600;
}

.codeblock-wrap {
  @apply space-y-2;
}

.codeblock {
  @apply p-4 text-gray-800 bg-gray-100 rounded hover:select-all;
}
