name: "Release RubyGem"
on:
  workflow_dispatch:
jobs:
  build:
    name: Build compile gems
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-platform:
          - arm64-darwin
          - x86_64-darwin
          - x86_64-linux
          - aarch64-linux
          - x86_64-linux-musl
    steps:
      - uses: actions/checkout@v4
      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1.3.0
        with:
          ruby-version: "4.0"
          bundler-cache: true
          cargo-cache: true
          cargo-vendor: false

      - name: Touch Rakefile
        run: |
          touch Rakefile

      - uses: oxidize-rb/actions/cross-gem@v1.3.0
        with:
          platform: ${{ matrix.ruby-platform }}
          working-directory: autocorrect-rb/
          ruby-versions: "4.0, 3.4, 3.3" # optional

      - name: Upload Gem
        uses: actions/upload-artifact@v4
        with:
          name: cross-gem-${{ matrix.ruby-platform }}
          path: autocorrect-rb/pkg/

  build_source:
    name: Build source gem
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1.3.0
        with:
          ruby-version: "4.0"
          bundler-cache: false
          cargo-cache: true
          cargo-vendor: true

      - name: Build gem
        run: |
          cd autocorrect-rb/
          gem build autocorrect-rb.gemspec
          mkdir -p pkg/
          mv *.gem pkg/

      - name: Upload Gem
        uses: actions/upload-artifact@v4
        with:
          name: cross-gem-source
          path: autocorrect-rb/pkg/

  publish:
    name: Publish cross gems
    runs-on: ubuntu-latest
    needs:
      - build
      - build_source
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - uses: actions/download-artifact@v4
        with:
          path: pkg/

      - name: Display structure of built gems
        run: |
          mv -f **/autocorrect-*.gem ./
          ls -lha autocorrect-*.gem
        working-directory: pkg/

      - name: Publish to RubyGem
        env:
          RUBYGEM_TOKEN: "${{secrets.RUBYGEM_TOKEN}}"
        working-directory: pkg/
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${RUBYGEM_TOKEN}\n" > $HOME/.gem/credentials
          for filename in autocorrect-*.gem; do
            echo $filename
            gem push $filename
          done

      - name: Install RubyGem & Test Run
        run: |
          gem install autocorrect-rb --verbose
          ruby -e "require 'autocorrect-rb'; puts AutoCorrect.format('Hello你好.');"
