name: "Release RubyGem"
on:
  push:
    tags:
      - "v*"
    branches:
      - release-gem
jobs:
  build:
    name: Build compile gems
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-platform:
          - "arm64-darwin"
          - "x86_64-darwin"
          - "x86_64-linux"
    steps:
      - uses: actions/checkout@v3
      - uses: oxidize-rb/actions/setup-ruby-and-rust@main
        with:
          ruby-version: "3.1"
          bundler-cache: true
          cargo-cache: "sccache"
          cargo-vendor: true

      - name: Touch Rakefile
        run: |
          touch Rakefile

      - uses: oxidize-rb/cross-gem-action@v7
        with:
          platform: ${{ matrix.ruby-platform }}
          directory: ./
          ruby-versions: "3.2, 3.1, 3.0, 2.7" # optional
          setup: cd autocorrect-rb/ && bundle install || gem install rb_sys

      - uses: actions/download-artifact@v3
        with:
          name: cross-gem
          path: pkg/

      - name: Display structure of built gems
        run: ls -R
        working-directory: autocorrect-rb/pkg/

      - name: Publish to RubyGem
        env:
          RUBYGEM_TOKEN: "${{secrets.RUBYGEM_TOKEN}}"
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${RUBYGEM_TOKEN}\n" > $HOME/.gem/credentials
          for filename in autocorrect-rb/pkg/*.gem; do
            gem push $filename
          done

      - name: Install RubyGem & Test Run
        run: |
          gem install autocorrect-rb --verbose
          ruby -e "require 'autocorrect-rb'; puts AutoCorrect.format('Hello你好.');"
